@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  background-color: #000;
  width: 100%;
  height: 100vh;
  display: flex;
}

.color {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  cursor: pointer;
  transition: 0.2s opacity;
}

.color:active {
  opacity: 0.8;
}

.color span {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: white;
  text-shadow: 1px 1px black;
}

#form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#form input[type="text"] {
  font-size: 2rem;
  outline: 0;
  padding: 20px;
  border: 2px solid white;
  background-color: #f2f2f2;
  width: 400px;
}

.btn {
  font-family: "Roboto", sans-serif;
  background-color: #4caf50;
  padding: 20px;
  font-size: 2rem;
  color: white;
  border: 2px solid white;
  transition: 0.2s opacity;
}

.btn:hover {
  opacity: 0.8;
}
